---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<b>Related activities</b>

<ul>
  <li>Marking for MATH11412/11422 (Introduction to Ordinary Differential Equations/ Ordinary Differential Equations and Applications)</li>
  <li>Marking for MATH19861 (0N1 Mathematics for Foundation Year)</li>
  <li>Invigilating for MATH32012 (Commutative Algebra)</li>
</ul>

Attended Teacher Training modules in 
<ul><li>FSE GTA Learning
Outcomes and Lesson Plans
  <li>FSE GTA Teaching Skills
  <li>FSE GTA Roles and Expectations
  <li>Data Protection and Cyber Security (PGRs)
  </ul>

where FSE stands for Faculty of Science and Engineering, and GTA stands for Graduate Teaching Assistant.
