---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<b>Related activities</b>

<ul>
  <li>Creating Tikz Diagrams for MATH 34011 (Complex Analysis and Complex Analysis with applications). <a href = "https://calum-hughes.github.io/portfolio/ComplexAnalysisDiagrams.pdf"> See them here </a> </li>
  <li>Marking for MATH11412/11422 (Introduction to Ordinary Differential Equations/ Ordinary Differential Equations and Applications)</li>
  <li>Marking for MATH19861 (0N1 Mathematics for Foundation Year)</li>
  <li>Invigilating for MATH32012 (Commutative Algebra)</li>
</ul>

Attended Teacher Training modules in the following:
<ul>
  <li>FSE GTA Learning Outcomes and Lesson Plans</li>
  <li>FSE GTA Teaching Skills</li>
  <li>FSE GTA Roles and Expectations</li>
  <li>Data Protection and Cyber Security (PGRs)</li>
</ul>

where FSE stands for Faculty of Science and Engineering, and GTA stands for Graduate Teaching Assistant.

Some comments recieved in a survey about 1M1 teaching regarding me:

<ul> 
  <li> <i>"I like the maths tutorials, the GTA is really helpful with going over topics that we don’t understand." </i></li>
  <li><i>"Well explained. Tutorial very helpful."</i></li>
  <li><i>"The tutorials by Calum Hughes were extremely helpful in clearing any doubts regarding the contents of the lectures and the tutorials.
"</i></li>

</ul>
