---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<b>Related activities</b>

<ul>
  <li>Marking for MATH11412/11422 (Introduction to Ordinary Differential Equations/ Ordinary Differential Equations and Applications)</li>
  <li>Marking for MATH19861 (0N1 Mathematics for Foundation Year)</li>
  <li>Invigilating for MATH32012 exam (Commutative Algebra)</li>
</ul>


